<div class="container">
  <h3>Connections:</h3>

  <% if @connections.present? %>
    <ul>
      <% @connections&.each do |connection| %>
        <li><%= connection[:provider_name] %></li>
      <% end %>
    </ul>
  <% else %>
    <div class="jumbotron">
      <h4>You don't have any connections</h4>
      <p class="lead">Simple add new by click on the button.</p>
    </div>
  <% end %>

  <%= link_to 'Add New', new_connection_path, class: 'btn btn-primary' %>
</div>
