<div class="container">
  <h4 class="my-4">Accounts:</h4>
  <div class="card my-4">
    <div class="card-body">
      <%= render partial: 'accounts/table_list', locals: { accounts: @accounts } %>
    </div>
  </div>
  <%= link_to 'Back', root_path %>
</div>
